<html>
    <head>
        <title>Playing giphyXit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" crossorigin="anonymous">
        <style>
        .panel-center {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
        textarea {
            width: 100%;
            resize: none;
        }
        .card {
            margin: 5px;
            width: 210px;
            box-sizing: border-box;
            display: inline-block;

            border-color: rgba(0, 0, 0, 0);
            border-style: solid;
            border-width: 2px;
            vertical-align: top;
        }
        .card > .panel-body {
            padding: 3px;
        }
        .card > .panel-body > img {
            display: block;
            width: 200px;
        }


        .card.active {
            border-color: #2196f3;
        }
        .card.correct {
            border-color: #4caf50;
        }
        .card.yours {
            border-color: #9c27b0;
        }
        .card.wrong {
            border-color: #e51c23;
        }

        .author-info {
            font-size: medium;
            margin-left: 5px;
        }
        .container-fluid {
            padding-top: 10px;
        }
        </style>

    </head>
    <body>
        <div class="container-fluid">
            <div class="alert alert-danger" id="error" hidden></div>

            <div class="view" id="joinView" hidden>
                <div class="panel panel-primary panel-center">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Enter a name
                        </h3>
                    </div>
                    <div class="panel-body">
                    <form id="joinForm">
                        <div class="form-group">
                            <label class="control-label"for="nameInput">
                                Your name
                            </label>
                            <input class="form-control" 
                                   type="text" 
                                    id="nameInput"
                                    placeholder="Name">
                            </input>
                        </div>
                        <input class="btn btn-primary btn-block" 
                               type="submit" 
                               id="joinGame"
                               value="Join">
                        </input>
                    </form>
                    </div>

                </div>
            </div>

            <div class="view" id="waitView" hidden>
                <div class="panel panel-primary panel-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Players
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table" id="playerList">
                            <tbody>
                            </tbody>
                        </table>
                        <button class="btn btn-default" id="startGame">
                            Start
                        </button>
                    </div>

                </div>
            </div>
            <div class="view" id="resultsView" hidden>
                <div class="panel panel-primary panel-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Results
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table" id="results">
                            <thead>
                                <th>Name</th>
                                <th>Score</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="view row" id="playView" hidden>
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Scoreboard
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table" id="scoreBoard">
                                <thead>
                                    <th>Name</th>
                                    <th>Score</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-primary panel-top">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Game info
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <p id="gameInfo">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-primary panel-top">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Current description
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <p id="cardDescritpion">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary" id="chooseCardPanel" hidden>
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Card voting
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="voteList">
                                
                            </div>
                            <div id="chooseCardDiv" hidden>
                                <button id="chooseCard" 
                                        class="btn btn-primary btn-block">
                                    Choose
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Your cards
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="hand">
                            </div>
                            <form id="descriptionForm" hidden>
                                <div class="form-group">
                                    <label for="descriptionInput">
                                        Enter description
                                    </label>
                                    <textarea class="form-control" 
                                              rows="2" id="descriptionInput"
                                    ></textarea>
                                </div>
                                <input type="submit" value="Desrcibe" 
                                     class="btn btn-primary btn-block">
                                </input>
                            </form>
                            <div id="playCardDiv" hidden>
                                <button id="playCard" 
                                        class="btn btn-primary btn-block">
                                    Choose card 
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
      
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/client.js"></script>
</html>
