<html>
    <head>
        <title>Playing giphyXit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" crossorigin="anonymous">
        <style>
        .panel-center {
            max-width: 400px;
            margin-top: 16px;
            margin-left: auto;
            margin-right: auto;
        }
        </style>

    </head>
    <body>
        <div class="container">
            <div id="error"></div>

            <div class="view" id="joinView" hidden>
            <div class="panel panel-primary panel-center">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        Enter a name
                    </h3>
                </div>
                <div class="panel-body">
                <form id="joinForm">
                    <div class="form-group">
                        <label class="control-label"for="nameInput">
                            Your name
                        </label>
                        <input class="form-control" type="text" id="nameInput"
                                placeholder="Name">
                        </input>
                    </div>
                    <input class="btn btn-primary btn-block" 
                           type="submit" id="joinGame"value="Join"></input>
                </form>
                </div>

            </div>
            </div>

            <div class="view" id="waitView" hidden>
            <div class="panel panel-primary panel-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Players:
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table" id="playerList">
                        <tbody>
                        </tbody>
                    </table>
                    <button class="btn btn-default" id="startGame">Start</button>
                </div>

            </div>
            </div>

            <div class="view row" id="playView" hidden>

                <div class="col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Scoreboard
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table" id="scoreBoard">
                                <thead>
                                    <th>Name</th>
                                    <th>Score</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
      
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/client.js"></script>
</html>
