<html>
    <head>
        <title>Playing giphyXit</title>
    </head>
    <body>
        <div id="error"></div>
        <div class="view" id="joinView" hidden>
            <label for="nameInput">Your name</label>
            <input type="text" id="nameInput"></input>
            <button id="joinGame">Join</button>
        </div>
        <div class="view" id="waitView" hidden>
            Players:
            <ul id="playerList">
            </ul>
            <button id="startGame">Start</button>
        </div>
        <div class="view" id="playView" hidden>
            This should be the game
        </div>
    </body>
      
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
</html>
